Data Types and Structures Questions

Q1.What are data structures, and why are they important?

ANS_1.**DATA STRUCTURE** - HELP US TO ORGANIZE THE DATA , MANIPULATE THE DATA , STORE THE DATA AND ACCESSED AND MODIFIED ACCORDING TO THE USER.

WITH THE HELP OF DATA STRUCTURE WE CAN MAMIPULATED , ARRANGED AND ACCESSED THE DATA INTO MEMORY BLOCKS.

Q2.Explain the difference between mutable and immutable data types with examples?

ANS_2. **MUTABLE**- MUTABLE MEAN WE CAN CHANGE THE DATA OF SOME DATA STRUCTURE LIKE -LIST , SET  , DICT

**IMMUTABLE**- CAN NOT CHANGE THE DATA LIKE- TUPLE ,STRING

Q3.What are the main differences between lists and tuples in Python?

ANS_3. **LIST**- LISTS ARE MUTABLE, LIST CAN STORE ANY TYPE OF ELEMENTS. YOU CAN USE THIS WHEN YOU STORE MULTILE TYPES OF DATA.
SYNTAX-[]
**TUPLE**- TUPLES ARE IMMUTABLE ,WE CAN ALSO USE THIS TO STORE THE DATA. MOSTLY WE USE TUPLES WHEN WE NEED TO STORE SOME SPECIFIC AND FIXED DATA. WHEN CAN USE TUPLES AS KEY VALUE ALSO.\
SYNTAX=-()

Q4.P Describe how dictionaries store data?

ANS_4.**DICTIONARY**- WE CAN ALSO USE DICTIONARY TO STORE THE DATA,
DICT HAS A KEY VALUES AND IT'S MUTABLE AND UNORDERED.
SYNTAX- d={KEY:VALUE}

Q5. Why might you use a set instead of a list in Python?

ANS_5.YES , THIS MIGHT BE POSSIBLE BECAUSE SETS ARE NOT ALLOWED THE  REPETED VALUES .

Q.6 What is a string in Python, and how is it different from a list?

ANS_6.BOTH ARE DIFFERENT, STRING STORES ONLY CHARACTERS, BUT THE LIST CAN STORES ANY DATA TYPES.
STRING CAN NOT BE CHANGED BUT LIST CAN BE CHANGED.

SYNTAX OF LIST - []
SYNTAX OF STRING - ""

Q7. How do tuples ensure data integrity in Python?

ANS_7.Tuples ensure data intigrity because tuples are immutable it's mean once they created so , it never change.
so , its provide you the safety guard.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

ANS_8.**Hash Table**- It's use in dict for store and retrieve the data from the dict.
Ex- d={"pw": "da"}

Q9.Can lists contain different data types in Python?

ANS_9.Yes , list can store any data types , you can say that the list is Heterogenous.
Ex-[ True , "pw" , 1, 32.5 , [1,2] , {"pw": "ds"} ]

Q10.Explain why strings are immutable in Python?

ANS_10.In Python, strings are immutable, meaning once a string is created, it cannot be changed — any operation that modifies a string actually creates a new one.

Q11.What advantages do dictionaries offer over lists for certain tasks?

ANS_11. Dictionarie have unique values as a form of Keys and they allow to store data in unique way and dictionary has HASH Table , we can manage , add , delete the data according to the user need.

Q.12 Describe a scenario where using a tuple would be preferable over a list?

ANS_12. User can use tuple where they need to store and manage the fixed data so , we can use tuple in the place of list.

Q.13 How do sets handle duplicate values in Python?

ANS_13.Sets remove the duplicate values and shows only original values.

Q.14 How does the “in” keyword work differently for lists and dictionaries?

ANS_14. "in" keyword use for list - for verify the element , if the element in the list so the output is "True" but if not so the output is "False"

"in" keyword use for Dictionaries - for verify the key values , so if the key value in the dict so it gives "True otherwise "False"

Q.15 Can you modify the elements of a tuple? Explain why or why not?

ANS_15. No, we can not modify the elements of a tuple because tuples are immutable.

Q.16 What is a nested dictionary, and give an example of its use case?

ANS_16. A dict is in the another dict that allow the hierarchical data.

Q.17 Describe the time complexity of accessing elements in a dictionary?

ANS_17. ython, dictionaries are implemented using hash tables, which makes element access very efficient.

Access by key is done in constant time (on average).

Q18.In what situations are lists preferred over dictionaries?

ANS_18.Although dictionaries are powerful for key-value storage, lists are the better choice in certain situations — especially when order and sequence matter.

if the sitution demanding the order  and sequence so better choice to list apart of dict

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?

ANS_19.Not anymore in Python 3.7+. They're now ordered, meaning:
You can retrieve items in insertion order.
But: They are still key-based, not index-based — you can’t access items by position like a list.

Q20.Explain the difference between a list and a dictionary in terms of data retrieval?

ANS_20.A list is an ordered collection of elements.

You retrieve items using integer indices (starting from 0).

#Practical Questions

Q1.Write a code to create a string with your name and print it?

In [4]:
s=("Urvashi Varshney")
s

'Urvashi Varshney'

Q2.Write a code to find the length of the string "Hello World"?

In [5]:
s=("Hello World")
len(s)

11

Q3.Write a code to slice the first 3 characters from the string "Python Programming?

In [6]:
s=("Python Programming")
s[0:3]

'Pyt'

Q4.Write a code to convert the string "hello" to uppercase?

In [9]:
s=("hello")
s.upper()

'HELLO'

Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [11]:
s=("I like apple")
s.replace("apple" , "orange")

'I like orange'

Q6. Write a code to create a list with numbers 1 to 5 and print it?

In [17]:
l=[1,2,3,4,5]
l.append(1)
l.append(2)
l.append(3)
l.append(4)
l.append(5)
l

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [1]:
l=[1,2,3,4]
l.append(10)
l

[1, 2, 3, 4, 10]

Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [2]:
l=[1,2,3,4,5]
l.remove(3)
l

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [3]:
l=["a","b","c","d"]
l[1]

'b'

Q10.Write a code to reverse the list [10, 20, 30, 40, 50]?

In [5]:
l=[10,20,30,40,50]
l.reverse()
l

[50, 40, 30, 20, 10]

Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [6]:
t=(100,200,300)
type(t)

tuple

Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [7]:
t= ('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [8]:
t=(10, 20, 5, 15)
min(t)

5

Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [9]:
t=('dog', 'cat', 'rabbit')
t.index('cat')

1

 Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [10]:
t=('Banana' , 'Apple' , 'kiwi')
'kiwi' in t

True

Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [11]:
s={"a","b","c"}
s

{'a', 'b', 'c'}

Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [12]:
s={1, 2, 3, 4, 5}
s.clear()
s

set()

Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [14]:
s={1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [15]:
s={1,2,3}
s1={3,4,5}
s|s1

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [16]:
s={1,2,3}
s1={3,4,5}
s-s1

{1, 2}

Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [18]:
d={"name":"Urvashi" , "age":24 , "city":"Aligarh"}
d

{'name': 'Urvashi', 'age': 24, 'city': 'Aligarh'}

Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [19]:
d={'name': 'John', 'age': 25}
d.update({"country":"USA"})
d

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [20]:
d={'name': 'Alice', 'age': 30}
d['name']

'Alice'

Q24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [22]:
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
d

{'name': 'Bob', 'city': 'New York'}

Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [23]:
d={'name': 'Alice', 'city': 'Paris'}
"city" in d

True

Q26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [24]:
l=[1,2,3,4]
t=(1,2,3,4)
d={"name":"Urvashi" , "age":24 , "city":"Aligarh"}
print(l)
print(t)
print(d)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Urvashi', 'age': 24, 'city': 'Aligarh'}

Q27.. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [27]:
l=[1,2,7,6,4,3,5,8,9,10]
l.sort()
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q28.. Write a code to create a list with strings and print the element at the third index.

In [28]:
l=["Urvashi" , "Varshney" , "Aligarh"]
l[2]

'Aligarh'

Q29. Write a code to combine two dictionaries into one and print the result.

In [30]:
d={"name":"Urvashi" , "age":24 , "city":"Aligarh"}
d1={"name1":"Urvashi" , "age1":24 , "city1":"Aligarh"}
d.update(d1)
d

{'name': 'Urvashi',
 'age': 24,
 'city': 'Aligarh',
 'name1': 'Urvashi',
 'age1': 24,
 'city1': 'Aligarh'}

Q30. Write a code to convert a list of strings into a set.

In [31]:
l=["Urvashi" , "Varshney" , "Aligarh"]
s=set(l)
s

{'Aligarh', 'Urvashi', 'Varshney'}

Q11.

Q7.